.TaskListsMenu {
    /*background-color: black;*/
    /*color: white;*/
    border-right: 2px solid var(--primary-gray);
    height: 100vh;
}

.TaskListsMenuHeader {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: left;
    color: var(--primary-gray);
    border-bottom: 2px solid var(--primary-gray);
}

.TaskListsWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-top: 10px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;

}


.AddTaskList {
    margin: 0 auto;
    max-width: max-content;
    max-height: max-content;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px var(--primary-gray) solid;
    border-radius: 4px;
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-size: 2rem;
}

.BurgerMenu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    width: 50px;
    padding: 5px;
    box-sizing: border-box;
}

.BurgerLine {
    width: 100%;
    height: 5px;
    background-color: #000;
}

.ClosedBurgerMenu {
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    width: 40px;
    padding: 5px;
    box-sizing: border-box;
}

.ClosedBurgerLine {
    width: 100%;
    height: 3px;
    background-color: black;
}